<%- include('partials/header', { title: 'Hata' }) %>
<h1>Hata</h1>
<p><%= message %></p>
<% if (error) { %>
  <pre><%= JSON.stringify(error, null, 2) %></pre>
<% } %>
<p><a href="/offers">Tekrar dene</a></p>
<%- include('partials/footer') %>
