<%- include('partials/header',{title:'Error',user:locals.user}) %>

<h1>Error</h1>
<p style="color:red;"><%= message %></p>

<p>
  <a href="/">Go back to home</a>
</p>

<%- include('partials/footer') %>
