<%- include('partials/header',{title:'Login', user:locals.user}) %>

<h1>Login</h1>
<form method="post" action="/auth/login">
  <input name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <button type="submit">Login</button>
</form>

<% if (typeof error !== 'undefined' && error) { %>
  <p style="color:red;"><%= error %></p>
<% } %>

<%- include('partials/footer') %>
