<%- include('partials/header',{title:'Purchases', user:locals.user}) %>
<h1>Purchases</h1>
<ul>
<% esims.forEach(e=>{ %><li><%=e.offerId%> - <a href='/purchases/<%=e.id%>'>View</a></li><% })%>
</ul>
<%- include('partials/footer') %>